button {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  background: none;
  border: none;
  &:hover {
    background: #f0f0f0;
  }
  &:disabled {
    cursor: no-drop;
  }
}