form {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid #000;
  padding: 5px;
}

button {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  background: none;
  border: none;
  &:hover {
    background: #f0f0f0;
  }
  &:disabled {
    cursor: no-drop;
  }
}

textarea {
  resize: none;
  border: 1px solid #000;
  width: 100%;
}
