@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:host {
  font-family: "Roboto", sans-serif;
}

section {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.page-container {
  background-color: #f0f0f0;
  height: calc(100% - 50px);
  position: relative;
  overflow-x: hidden;
  &.chat-room {
    overflow: hidden;
    height: calc(100% - 100px);
  }
}

.type-message-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  transform: translateY(100%);
  transition: transform ease-out 0.3s;
  background-color: #fff;
  &.active {
    transform: translateY(0);
  }
}
